<%= stylesheet_link_tag 'reservations' %>
<% @page_title = '予約済みルーム一覧' %>

<div class="layout_back">
    <div class="layout_wide">
        <div class="layout_position">
            <div class="layout_item_back">
                <h3>予約済みルーム一覧</h3>
                <table class="reservation_table">
                    <thead>
                    <tr>
                        <th class="reservation_index_img">ルーム画像</th>
                        <th class="reservation_index_name">ルーム名</th>
                        <th class="reservation_index_introduction">ルーム紹介</th>
                        <th class="reservation_index_price">合計金額</th>
                        <th class="reservation_index_start">開始日</th>
                        <th class="reservation_index_end">終了日</th>
                        <th class="reservation_index_date">予約確定日時</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @reservations.each do |reservation| %>
                        <% @rooms.each do |room| %>
                            <% if reservation.room_id==room.id %>
                                <tr>
                                    <td>
                                        <% if room.image.attached? %>
                                            <%= link_to (image_tag room.image, class: "index-image"), room_path(room) %>
                                        <% end %>
                                    </td>
                                    <td><%= link_to room.room_name, room_path(room), class: "index_link" %></td>
                                    <td><%= room.introduction %></td>
                                    <td><%= reservation.all_price %></td>
                                    <td><%= reservation.start_on.strftime("%Y年%m月%d日") %></td>
                                    <td><%= reservation.end_on.strftime("%Y年%m月%d日") %></td>
                                    <td><%= reservation.updated_at.to_s(:datetime_jp) %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
